<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseStudyhistoryMapper">

	<resultMap id="CourseStudyhistoryResult" type="CourseStudyhistory">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="courseId" column="course_id" />
		<result property="kpointId" column="kpoint_id" />
		<result property="playercount" column="playercount" />
		<result property="courseName" column="course_name" />
		<result property="kpointName" column="kpoint_name" />
		<result property="databak" column="databak" />
		<result property="updateTime" column="update_time" />
		<result property="playTime" column="play_time" />
	</resultMap>


	<resultMap type="CourseStudyhistory" id="AllCourseStudyhistoryResult"
		extends="CourseStudyhistoryResult">
		<result property="teacherName" column="name" />
		<result property="logo" column="logo" />
		<result property="playTime" column="play_time" />
		<result property="parentKpointName" column="parentKpointName"/>
	</resultMap>
	<sql id="edu_course_studyhistory_columns">
		edu_course_studyhistory.id,
		edu_course_studyhistory.user_id,
		edu_course_studyhistory.course_id,
		edu_course_studyhistory.kpoint_id,
		edu_course_studyhistory.playercount,
		edu_course_studyhistory.course_name,
		edu_course_studyhistory.kpoint_name,
		edu_course_studyhistory.databak,
		edu_course_studyhistory.update_time,
		edu_course_studyhistory.play_time
	</sql>

	<sql id="edu_course_studyhistory_properties">
		#{id},
		#{userId},
		#{courseId},
		#{kpointId},
		#{playercount},
		#{courseName},
		#{kpointName},
		#{databak},
		#{updateTime},
		#{playTime}
	</sql>

	<insert id="createCourseStudyhistory" parameterType="CourseStudyhistory"
		keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert INTO edu_course_studyhistory (
		<include refid="edu_course_studyhistory_columns" />
		) VALUES (
		<include refid="edu_course_studyhistory_properties" />
		)
	</insert>

	<delete id="deleteCourseStudyhistoryById" parameterType="Long">
		delete
		from edu_course_studyhistory
		where
		id = #{value}
	</delete>
	<delete id="cleanCourseStudyhistory" parameterType="Long">
		delete
		from edu_course_studyhistory
		where
		user_id = #{value}
	</delete>

	<update id="updateCourseStudyhistory" parameterType="CourseStudyhistory">
		update
		edu_course_studyhistory SET
		user_id = #{userId},
		course_id =
		#{courseId},
		kpoint_id = #{kpointId},
		playercount = #{playercount},
		course_name =#{courseName},
		kpoint_name =#{kpointName},
		databak =
		#{databak},
		update_time = #{updateTime}
		where
		id = #{id}
	</update>

	<select id="getCourseStudyhistoryById" resultMap="CourseStudyhistoryResult"
		parameterType="Long">
		select
		<include refid="edu_course_studyhistory_columns" />
		from edu_course_studyhistory
		where
		id = #{value}

	</select>

	<select id="getCourseStudyhistory" resultMap="CourseStudyhistoryResult" parameterType="Long">
		select
		<include refid="edu_course_studyhistory_columns" />
		from edu_course_studyhistory
		<where>
			<if test="id!=null and id>0">
				and edu_course_studyhistory.id = #{value}
			</if>
			<if test="kpointId!=null and kpointId>0">
				and edu_course_studyhistory.kpoint_id = #{kpointId}
			</if>
			<if test="courseId!=null and courseId>0">
				and edu_course_studyhistory.course_id = #{courseId}
			</if>
			<if test="userId!=null and userId>0">
				and edu_course_studyhistory.user_id = #{userId}
			</if>
		</where>
	</select>
	<select id="getCourseStudyhistoryList" resultMap="CourseStudyhistoryResult"
		parameterType="CourseStudyhistory">
		select
		<include refid="edu_course_studyhistory_columns" />
		from edu_course_studyhistory
		where
		edu_course_studyhistory.user_id =
		#{userId}
		and edu_course_studyhistory.course_id = #{courseId}
		<if test="kpointId!=null and kpointId>0">
			and
			edu_course_studyhistory.kpoint_id = #{kpointId}
		</if>
	</select>

	<select id="getCourseStudyhistoryListByCondition" resultMap="AllCourseStudyhistoryResult" parameterType="java.util.HashMap">
		select
		<include refid="edu_course_studyhistory_columns" />,
		edu_teacher.name,
		edu_course.logo
        FROM edu_course_studyhistory
        LEFT JOIN edu_course ON edu_course.id = edu_course_studyhistory.course_id
        LEFT JOIN edu_course_kpoint ON edu_course_studyhistory.kpoint_id= edu_course_kpoint.id
        LEFT JOIN edu_teacher ON edu_teacher.id = edu_course_kpoint.teacher_id
		<where>
			<if test="e.userId!=null and e.userId!=''">
				and edu_course_studyhistory.user_id = #{e.userId}
			</if>
			<if test="e.courseId!=null and e.courseId!=''">
				and edu_course_studyhistory.course_id = #{e.courseId}
			</if>
			<if test="e.kpointId!=null and e.kpointId!=''">
				and edu_course_studyhistory.kpoint_id = #{e.kpointId}
			</if>
			<if test="e.startTime!=null">
				and <![CDATA[ edu_course_studyhistory.update_time >=#{e.startTime}]]>
			</if>
			<if test="e.endTime!=null">
				and <![CDATA[ edu_course_studyhistory.update_time <=#{e.endTime}]]>
			</if>
		</where>
        order by edu_course_studyhistory.id desc
		<include refid="publicMapper.pageEnd" />
	</select>

	<select id="getCourseStudyhistoryListByConditionCount"
		resultType="int" parameterType="java.util.HashMap">
		select
		count(1)
		from edu_course_studyhistory
		<where>
			<if test="e.userId!=null and e.userId!=''">
				and edu_course_studyhistory.user_id = #{e.userId}
			</if>
			<if test="e.courseId!=null and e.courseId!=''">
				and edu_course_studyhistory.course_id = #{e.courseId}
			</if>
			<if test="e.kpointId!=null and e.kpointId!=''">
				and edu_course_studyhistory.kpoint_id = #{e.kpointId}
			</if>
			<if test="e.startTime!=null">
				and <![CDATA[ edu_course_studyhistory.update_time >=#{e.startTime}]]>
			</if>
			<if test="e.endTime!=null">
				and <![CDATA[ edu_course_studyhistory.update_time <=#{e.endTime}]]>
			</if>
		</where>
	</select>
	<delete id="delCourseStudyhistory" parameterType="String">
		delete from edu_course_studyhistory where id in (${value})
	</delete>
	<select id="getCourseStudyhistoryCount" resultType="Long" parameterType="java.util.HashMap">
		select
		count(1)
		from edu_course_studyhistory
		<where>
		<if  test="list!=null  ">
			and edu_course_studyhistory.course_id in
			 <foreach collection="list" item="item" open="(" close=")" separator=",">
			 	#{item.id}
		 	</foreach>
		 	</if>
			<if test="userId!=null and userId!=''">
				and edu_course_studyhistory.user_id = #{userId}
			</if>
		</where>
	</select>



    <select id="getCourseStudyhistoryListGroupByCourseId" resultMap="AllCourseStudyhistoryResult" parameterType="java.util.HashMap">
        select
        temp1.*,
        temp2.playercount
        from
        (SELECT
        edu_course_studyhistory.id,
        edu_course_studyhistory.user_id,
        edu_course_studyhistory.course_id,
        edu_course_studyhistory.kpoint_id,
        edu_course_studyhistory.course_name,
        edu_course_studyhistory.kpoint_name,
        edu_course_studyhistory.databak,
        edu_course_studyhistory.update_time,
		edu_course_studyhistory.play_time,
        edu_course.logo,
		parentKpoint.name as parentKpointName
        FROM edu_course_studyhistory
        LEFT JOIN edu_course ON edu_course.id = edu_course_studyhistory.course_id
        LEFT JOIN edu_course_kpoint ON edu_course_studyhistory.kpoint_id= edu_course_kpoint.id
		LEFT JOIN edu_course_kpoint AS parentKpoint ON edu_course_kpoint.`parentId` = parentKpoint.id
        LEFT JOIN edu_teacher ON edu_teacher.id = edu_course_kpoint.teacher_id
        <where>
            <if test="e.userId!=null and e.userId!=''">
                and edu_course_studyhistory.user_id = #{e.userId}
            </if>
			<if test="e.courseId!=null and e.courseId!=''">
				and edu_course_studyhistory.course_id = #{e.courseId}
			</if>
        </where>
		<if test="e.statistics==0">
			GROUP BY edu_course.id
		</if>
        order by edu_course_studyhistory.id desc
        <include refid="publicMapper.pageEnd" />
        )  AS temp1
        LEFT JOIN
        (SELECT
        edu_course_studyhistory.`course_id`,
        SUM(
        edu_course_studyhistory.`playercount`
        ) AS playercount
        FROM
        edu_course_studyhistory
        GROUP BY edu_course_studyhistory.course_id) AS temp2
        ON temp1.course_id = temp2.`course_id`
    </select>

    <select id="getCourseStudyhistoryListGroupByCourseIdCount" resultType="int" parameterType="java.util.HashMap">
        <if test="e.statistics==0">
			SELECT COUNT(DISTINCT edu_course_studyhistory.`course_id` )
		</if>
		<if test="e.statistics==1">
			SELECT COUNT(edu_course_studyhistory.`course_id` )
		</if>
        FROM edu_course_studyhistory
        <where>
            <if test="e.userId!=null and e.userId!=''">
                and edu_course_studyhistory.user_id = #{e.userId}
            </if>
			<if test="e.courseId!=null and e.courseId!=''">
				and edu_course_studyhistory.course_id = #{e.courseId}
			</if>
        </where>
    </select>

	<update id="updateCourseStudyhistoryPlayTime" parameterType="CourseStudyhistory">
		  UPDATE edu_course_studyhistory SET edu_course_studyhistory.play_time = #{playTime} WHERE edu_course_studyhistory.user_id = #{userId}
		  AND edu_course_studyhistory.course_id = #{courseId} AND edu_course_studyhistory.kpoint_id = #{kpointId}
	</update>

	<!-- 根据用户id 小组id查询学习课程数 -->
	<select id="getLearnCourseNum" parameterType="Map" resultType="int">
		SELECT COUNT(1) FROM(
		SELECT
		  edu_course_studyhistory.`kpoint_id`
		FROM
		  edu_course_studyhistory
		  LEFT JOIN group_middle_course ON edu_course_studyhistory.`course_id` = group_middle_course.`course_id`
		  LEFT JOIN user_group ON group_middle_course.`group_id` = user_group.`id`
		WHERE edu_course_studyhistory.user_id = #{userId} AND user_group.id = #{groupId}
		GROUP BY edu_course_studyhistory.`kpoint_id`) AS _history
	</select>
</mapper>