<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrxdetailOptRecordMapper">

        <resultMap id="TrxdetailOptRecordResult" type="TrxdetailOptRecord">
            <result property="id" column="id"/>
            <result property="trxorderId" column="trxorder_id"/>
            <result property="trxorderDetailId" column="trxorder_detail_id"/>
            <result property="type" column="type"/>
            <result property="optuser" column="optuser"/>
            <result property="optusername" column="optusername"/>
            <result property="desc" column="description"/>
            <result property="createTime" column="create_time"/>
        </resultMap>

        <sql id="edu_trxdetail_opt_record_columns">
            edu_trxdetail_opt_record.id,
            edu_trxdetail_opt_record.trxorder_id,
            edu_trxdetail_opt_record.trxorder_detail_id,
            edu_trxdetail_opt_record.type,
            edu_trxdetail_opt_record.optuser,
            edu_trxdetail_opt_record.optusername,
            edu_trxdetail_opt_record.description,
            edu_trxdetail_opt_record.create_time
        </sql>

        <sql id="edu_trxdetail_opt_record_properties">
            #{id},
            #{trxorderId},
            #{trxorderDetailId},
            #{type},
            #{optuser},
            #{optusername},
            #{desc},
            #{createTime}
        </sql>

        <insert id="createTrxdetailOptRecord" parameterType="TrxdetailOptRecord" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
            insert INTO edu_trxdetail_opt_record (<include refid="edu_trxdetail_opt_record_columns"/>) VALUES (<include refid="edu_trxdetail_opt_record_properties"/>)
        </insert>

        <delete id="deleteTrxdetailOptRecordById" parameterType="Long">
            delete from edu_trxdetail_opt_record
            where
                id = #{value}







        </delete>

        <update id="updateTrxdetailOptRecord" parameterType="TrxdetailOptRecord">
            update edu_trxdetail_opt_record SET
                id = #{id},
                trxorder_id = #{trxorderId},
                trxorder_detail_id = #{trxorderDetailId},
                type = #{type},
                optuser = #{optuser},
                optusername = #{optusername},
                description = #{desc},
                create_time = #{createTime}
            where
                id = #{id}







        </update>

        <select id="getTrxdetailOptRecordById" resultMap="TrxdetailOptRecordResult" parameterType="Long">
            select
            <include refid="edu_trxdetail_opt_record_columns"/>
            from edu_trxdetail_opt_record
            where
                id = #{value}







        </select>
		
        <select id="getTrxdetailOptRecordList" resultMap="TrxdetailOptRecordResult" parameterType="TrxdetailOptRecord">
            select
            <include refid="edu_trxdetail_opt_record_columns"/>
            from edu_trxdetail_opt_record
        </select>
        
</mapper>