
	
	@import url(theme.css); /*The import theme file*/

/*---======== /commonStyle ========---*/
	body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,menu,dl,dt,dd,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nva,section{border: 0;padding: 0;margin: 0;}
	body{font:12px/150% "Hiragino Sans GB","Microsoft YaHei","΢���ź�",tahoma,arial,simsun,"����";word-break:break-all;word-wrap:break-word;}
	ul,ol,li{list-style:none}
	a{text-decoration:none;}
	a:hover{text-decoration:underline;}a:focus{outline:none;-moz-outline:none;}
	a:active{outline:none;blr:expression(this.onFocus=this.blur())}
	a,img{border:0 none;}
	input,select,button{vertical-align:middle;outline:none;}
	table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
	h1 {font-size: 36px;line-height: 45px;}
	h2 {font-size: 24px;line-height: 30px;}
	h3 {font-size: 18px;line-height: 22px;}
	h4 {font-size: 16px;line-height: 20px;}
	h5 {font-size: 14px;line-height: 18px;}
	h6 {font-size: 12px;line-height: 16px;}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
	.clearfix:after{ content: '';display: block;height: 0;clear: both;overflow: hidden; }
	.clearfix{display: inline-block;}
	* html .clearfix{height: 1%;}
	.clearfix{display: block;}
	.clear {clear: both;font-size: 0;content: " ";line-height: 1px;height: 1px;_height: 1%;margin-top: -1px;}
	.dis{display: block;}.undis{display: none;}.disIb {display: inline-block;}
	.fl{float: left;_display: inline;}.fr{float: right;_display: inline;}
	.pr {position: relative; }.pa {position: absolute; }
	.f-fM,tt,select,input,samp {font-family: "Hiragino Sans GB","Microsoft YaHei","΢���ź�";}.f-fH {font-family: "Hiragino Sans GB","Microsoft YaHei","΢���ź�";}.f-fG {font-family: 'Georgia';}
	.unBg {background: none !important;}
	.unBr {border: none !important;}
	.unFw {font-weight: normal;}
	.of{overflow: hidden;}
	.ov{overflow: visible;}
	.vam {vertical-align: middle;}
	.tal {text-align: left;}
	.tac {text-align: center;}
	.tar {text-align: right;}
	.hand {cursor: pointer;}
	.zoom {_zoom: 1;}
	.fsize12 {font-size: 12px;}
	.fsize14 {font-size: 14px;}
	.fsize16 {font-size: 15px;}
	.fsize18 {font-size: 18px;}
	.fsize20 {font-size: 20px;}
	.fsize24 {font-size: 24px;}
	.tD24 {text-indent: 24px;}
	.tD30 {text-indent: 30px;}
	.mt5 {margin-top: 5px;}
	.mr5 {margin-right: 5px;}
	.mb5 {margin-bottom: 5px;}
	.ml5 {margin-left: 5px;}
	.mt10 {margin-top: 10px;}
	.mr10 {margin-right: 10px;}
	.mb10 {margin-bottom: 10px;}
	.ml10 {margin-left: 10px;}
	.mt15 {margin-top: 15px;}
	.mr15 {margin-right: 15px;}
	.mb15 {margin-bottom: 15px;}
	.ml15 {margin-left: 15px;}
	.mt20 {margin-top: 20px;}
	.mr20 {margin-right: 20px;}
	.mb20 {margin-bottom: 20px;}
	.ml20 {margin-left: 20px;}
	.mt30 {margin-top: 30px;}
	.mr30 {margin-right: 30px;}
	.mb30 {margin-bottom: 30px;}
	.ml30 {margin-left: 30px;}
	.mt40 {margin-top: 40px;}
	.mr40 {margin-right: 40px;}
	.mb40 {margin-bottom: 40px;}
	.ml40 {margin-left: 40px;}
	.mt50 {margin-top: 50px;}
	.mr50 {margin-right: 50px;}
	.mb50 {margin-bottom: 50px;}
	.ml50 {margin-left: 50px;}
	.pt10 {padding-top: 10px;}
	.pr10 {padding-right: 10px;}
	.pb10 {padding-bottom: 10px;}
	.pl10 {padding-left: 10px;}
	.pt15 {padding-top: 15px;}
	.pr15 {padding-right: 15px;}
	.pb15 {padding-bottom: 15px;}
	.pl15 {padding-left: 15px;}
	.pt20 {padding-top: 20px;}
	.pr20 {padding-right: 20px;}
	.pb20 {padding-bottom: 20px;}
	.pl20 {padding-left: 20px;}
	.pt30 {padding-top: 30px;}
	.pt50 {padding-top: 50px;}
	.pr50 {padding-right: 50px;}
	.pb50 {padding-bottom: 50px;}
	.pl50 {padding-left: 50px;}
	.w50pre {width: 50%;}
	.w300 {margin: 0 auto;width: 300px;}
	.w650 {margin: 0 auto;width: 650px;}
	.w1000 {margin: 0 auto;width: 1000px;}
	.icon14,.icon-2-14 {display: inline-block;height: 14px;width: 14px;vertical-align: middle;}
	.icon16,.icon-2-16 {display: inline-block;height: 16px;width: 16px;vertical-align: middle;}
	.icon18,.icon-2-18 {display: inline-block;height: 18px;width: 18px;vertical-align: middle;}
	.icon24,.icon-2-24 {display: inline-block;height: 24px;width: 24px;vertical-align: middle;}
	.icon30 {display: inline-block;height: 30px;width: 30px;vertical-align: middle;}
	.hLh20 {height: 20px;line-height: 20px;}
	.hLh30 {height: 30px;line-height: 30px;}
/*---======== /commonClass ========---*/
	.yellow-btn,.gray-btn {display: inline-block;padding: 0 10px;}
	.star-level-1 {display: inline-block;_zoom: 1;_display: inline;overflow: hidden;height: 12px;width: 80px;}
	.ads-1 {height: 120px;width: 1000px;}
	.ads-2 {background: #fff;display: block;padding: 1px;height: 118px;width: 298px;}
	.play-1 {cursor: pointer;height: 50px;width: 50px;top: 46%;left: 50%;margin: -25px 0 0 -25px}
	.comm-tips-1 {padding: 30px 0;text-align: center;}
	.c-tips-1 {display: inline-block;height: 50px;vertical-align: middle;width: 50px;}
	.c-line-1 {border-bottom: 1px solid #2F3B3D;}
	.c-line-2 {border-top: 1px solid #465760;}
	.free-icon {position: absolute;right: 16px;top: -26px;display: inline-block;height: 60px;vertical-align: middle;width: 60px;}
	.green-btn {color: #fff;display: inline-block;padding: 0px 16px;font: 12px/20px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 20px;}
	.question-btn,.comment-btn {color: #fff;display: inline-block;padding: 0px 16px;font: 14px/26px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 26px;}
	.order-submit {border-radius: 3px;color: #fff;display: inline-block;padding: 2px 30px;font: 15px/30px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 30px;}
	.blue-btn,.brow-btn {color: #fff;display: inline-block;padding: 0px 20px;font: 14px/20px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 30px;line-height: 30px;}
	.brow-btn {border-radius: 3px;height: 26px;line-height: 26px;}
	.goBack-btn {border: 1px solid #e2e2e2;border-radius: 3px;color: #333;display: inline-block;padding: 2px 30px;font: 14px/30px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 30px;}
	.u-common-btn,.page-up,.page-down {border: 1px solid #e2e2e2;color: #333;display: inline-block;font: 12px/24px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 24px;padding: 0 12px;}
	.common-btn-2 {border: 1px solid #e2e2e2;display: inline-block;font: 12px/20px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 20px;padding: 0 15px;}
	.jihu-btn,.go-live-btn,.q-submit-btn {border-radius: 3px;color: #fff;display: inline-block;font: 15px/24px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 24px;padding: 2px 25px;}
	.q-submit-btn {border-radius: 3px;color: #fff;display: inline-block;font: 15px/26px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";height: 26px;padding: 2px 18px;}
	.green-btn:hover,.question-btn:hover,.comment-btn:hover,.order-submit:hover,.u-common-btn:hover,.page-up:hover,.page-down:hover,.q-submit-btn:hover {text-decoration: none;}
	.line1 {border-top: 1px solid #fff;}
	.line2 {border-bottom: 1px solid #e5e5e5;}
	.line3 {border-bottom: 1px solid #DDD;}
	.line4 {border-bottom: 1px solid #1D6BC6;}
	.line5 {border-bottom: 1px solid #11417A;}
/*---======== /dialog ========---*/
	.bg-shadow,.bg-shadow-infor {background: #000;opacity: 0.3;filter: alpha(opacity=30);position: fixed;_position: absolute;height: 100%;width: 100%;top: 0;right: 0:bottom: 0;left: 0;z-index: 999999;}
	.bg-shadow.bg-shadow05 {opacity: 0.5;filter: alpha(opacity=50);}
	.dialog-shadow,.dialog-shadow-infor {background: rgba(0, 0, 0, .2);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);position: absolute;padding: 6px;left: 50%;margin-left: -240px;z-index: 9999999;}
	.dialog-ele,.dialog-ele-infor {background: #fff;}
	.d-s-head,.d-s-head-infor {height: 22px;line-height: 22px;padding: 5px 12px;width: auto;+width: 100%;}
	.d-s-head-txt,.d-s-head-txt-infor {color: #333;font: 16px/22px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";}
	.dClose {right: 10px;top: 10px;}
	.dClose:hover {text-decoration: none;}
	.d-tips-1,.d-tips-4 {width: 450px;position: relative;}
	.d-tips-2,.d-tips-3 {width: 340px;position: relative;}
	.d-tips-5,.d-tips-55 {width: 600px;height: 440px;position: relative;}
	.d-tips-1 p,.d-tips-2 p,.d-tips-3 p {padding-left: 60px;line-height: 180%;}
	.d-t-icon-1,.d-t-icon-2,.d-t-icon-3 {left: 5px;top: 0;height: 44px;width: 44px;}
	.d-tips-4 .l-r-w-Inpt li input.lTxt {width: 249px;}
	.d-tips-4 #requestErrorID {padding: 0 0 8px 77px;color: #FF4800;}
	.animate-enter.animated {
	    -webkit-animation-duration: .6s;
	    -moz-animation-duration: .6s;
	    -o-animation-duration: .6s;
	    animation-duration: .6s;
	    -webkit-animation-fill-mode: both;
	    -moz-animation-fill-mode: both;
	    -o-animation-fill-mode: both;
	    animation-fill-mode: both;
	}
	@-webkit-keyframes flyIn5 {
	    0% {
	        opacity: 0;
	        -webkit-transform: translate(0px, -1000px) scale(2);
	    }
	    100% {
	        opacity: 1;
	        -webkit-transform: translate(0) scale(1);
	    }
	}
	@-moz-keyframes flyIn5 {
	    0% {
	        opacity: 0;
	        -moz-transform: translate(0px, -1000px) scale(2);
	    }
	    100% {
	        opacity: 1;
	        -moz-transform: translate(0) scale(1);
	    }
	}
	@-o-keyframes flyIn5 {
	    0% {
	        opacity: 0;
	        -o-transform: translate(0px, -1000px) scale(2);
	    }
	    100% {
	        opacity: 1;
	        -o-transform: translate(0) scale(1);
	    }
	}
	@keyframes flyIn5 {
	     0% {
	         opacity: 0;
	         transform: translate(0px, -1000px) scale(2);
	     }
	     100% {
	         opacity: 1;
	         transform: translate(0) scale(1);
	     }
	 }
	
	.animate-enter.flyIn5 {
	    -webkit-animation-name: flyIn5;
	    -moz-animation-name: flyIn5;
	    -o-animation-name: flyIn5;
	    animation-name: flyIn5;
	}
/*---======== /goods-address  ========---*/
	.addRessInpt ul li label {display: inline-block;width: 86px;}
	.addRessInpt ul li input.lTxt,.addRessInpt ul li select {background: #FFF;}
	.addRessInpt ul li input.lTxt {border: 1px solid #BBB;border-radius: 3px;color: #666;height: 30px;line-height: 30px;padding: 0 10px;width: 248px;}
	.addRessInpt ul li select,.sendTime {border: 1px solid #BBB;border-radius: 3px;color: #333;padding: 5px 10px;margin-right: 10px;}
/*---======== /footerStyle ========---*/
	.foot-link {background: #333;color: #888;}
	.f-link-wrap {background: #333;}
	.f-link-wrap .fLink {border-bottom: 1px solid #3c3c3c;}
	.fLink dt,.fLink dd {color: #888;float: left;_display: inline;height: 50px;line-height: 50px;overflow: hidden;}
	.fLink dd a {display: inline-block;color: #888;padding: 0 15px;vertical-align: middle;}
	.online-icon {height: 40px;width: 30px;}
	.footLink li {border-left: 1px solid #0D478B;float: left;width: 17.4%;}
	.footLink li dl {border-left: 1px solid #0D5CB8;padding-left: 45px;}
	.footLink li dl dd {height: 30px;line-height: 30px;overflow: hidden;}
	.foot-link a,.footLink li dl dd a {color: #888;}
	.foot-link a:hover,.footLink li dl dd a:hover,.fLink dd a:hover {color: #aaa;text-decoration: none;}
/*---======== /helpCenterStyle ========---*/
	.helpCenter {background: #fff;height: auto;margin: 20px 0 0;}
	.hLeft {float: left;width: 150px;}
	.mt {border-top: 2px solid #16559F;border-bottom: 1px solid #E6E6E6;border-right: 1px solid #E6E6E6;border-left: 1px solid #E6E6E6;color: #FFFFFF;height: 40px;padding: 0 15px;}
	.mt h2 {font: 18px/40px 'Microsoft YaHei';color: #16559F;}
	.mc {border: solid #E6E6E6;border-width: 0 1px 1px;overflow: hidden;}
	.mc dl dt { background-color: #F9F9F9;border-bottom: 1px solid #f2f2f2;font-weight: bold;color: #333;height: 30px;line-height: 30px;padding: 0 15px;position: relative;}
	.mc dl dd .hItem {padding: 2px 0 2px 24px;margin: 5px 0;}
	.mc dl dt a {color: #333;font-weight: bold;display: block;}
	.mc dl dd .hItem a {color: #666;display: block;}
	.mc dl dt a:hover,.mc dl dd .hItem a:hover {color: #E94609;}
	.hRight {float: left;width: 850px;}
	.hContent {border-left: 1px solid #E2E2E2;box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);height: auto !important;min-height: 840px;_height: 840px;}
	.commLine03 {border-bottom: 1px solid #ddd;font-weight: normal !important;}
	.xsCommTxt {color: #4E4E4E;line-height: 240%;}
	.xsCommTxt center img {max-width: 780px;margin: 0 0 10px;}
/*---======== /emailSuffixStyle ========---*/	
	.out_box{font-family: "Hiragino Sans GB","Microsoft YaHei","΢���ź�"; border: 1px solid #ccc;border-radius: 4px;box-shadow: 2px 2px 3px rgba(0,0,0,.1);margin-top: 5px;background: #fff;color:#555;text-indent: 6px;font-size: 14px;min-width: 140px;}
 	.list_box{border: 1px solid #fff;line-height:25px; cursor: pointer; padding:0 5px; }
 	.focus_box{border: 1px solid #fff; line-height:25px; cursor: pointer;background: #E6E6E6;color:#111;padding:0 5px;}
 	.mark_box {font-weight:200;} 
/*---======== /onlineConsultStyle ========---*/	
	.onlineConsultBox {background: #1655AF;border-radius: 3px;position: fixed;right: 0;height: auto;width: 77px;top: 132px;z-index: 99999;}
	.onlineConsultBox .onlineC-item {padding: 5px;position: relative;}
	.onlineConsultBox .onlineC-item .onlineC-item1,
	.onlineConsultBox .onlineC-item .onlineC-item2 {cursor: pointer;height: 84px;}
	.onlineConsultBox .onlineC-item .onlineC-item3,
	.onlineConsultBox .onlineC-item .onlineC-item4 {cursor: pointer;height: 71px;}
	.onlineC-ico {display: block;height: 84px;text-align: center;}
	.onlineC-ico span {display: inline-block;height: 48px;width: 48px;}
	.onlineC-ico p {font: 14px/24px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";color: #fff;}
	.onlineC-ico:hover p,.onlineC-ico:hover {color: #FFDE00;text-decoration: none;}
	
	.qqOnline {background: #fff;border: 1px solid #1655AF;cursor: text;width: 0;height: 140px;position: absolute;top: 6px;right: 75px;overflow: hidden;}
	.winxinGz {background: #fff;border: 1px solid #1655AF;cursor: text;width: 0;height: 228px;position: absolute;top: 6px;right: 75px;overflow: hidden;}
	.shareOur {background: #fff;border: 1px solid #1655AF;cursor: text;width: 0;height: 50px;padding: 5px 0 0 0;position: absolute;top: 181px;right: 75px;overflow: hidden;}
	.qqOnline ol li {_display: inline;float: left;margin: 0 15px;text-align: center;color: #333;}
	.qqOnline ol li a span {display: block;width: 48px;height: 48px;margin: 0 auto;}
	.qqOnline ol li a p {color: #333;font: 14px/32px "Hiragino Sans GB","Microsoft YaHei","΢���ź�";}
	.qqOnline ol li a:hover p,.qqOnline ol li a:hover {color: #f75b31;text-decoration: none;}
/*---======== /login-register ========---*/
	.o-wrong {color: #FF4800;}
	.o-pass {color: #6ABD00;}
	.l-r-w-Inpt li label {display: inline-block;width: 80px;text-align: right;color: #666;font: 16px/30px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷","Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";}
	.l-r-w-Inpt li input.lTxt {background: #fff;border: 1px solid #BFBFBF;border-radius: 3px;color: #666;height: 32px;font: normal 14px/32px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";padding: 0 10px;width: 260px;}
	.l-r-w-Inpt li input.lTxt.yzm {width: 100px;}
	.l-r-w-Inpt li input.lTxt:focus {border-color: #FF7843;box-shadow: 0 0 8px rgba(255,74,3,.2);}
	.login-btn {display: inline-block;height: 28px;width: 286px;text-align: left;}
	.login-btn input {background: none;border: none;color: #fff;font: 18px/28px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";+margin-left: -50px;height: 28px;text-align: center;width: 286px;}
	.l-r-link {width: 230px;margin: 40px auto 0;}
	.l-r-l-list {height: 256px;}
	.l-r-l-list li {display: none;padding-left: 34px;font: 14px/30px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";color: #999;margin-bottom: 10px;}
	.l-r-r-btn {border: 1px solid #e2e2e2;color: #333;display: inline-block;height: 28px;font: 16px/28px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";width: 200px;}
	.l-r-r-btn:hover {color: #FF4800;}
	.inpCb input {opacity: 0;filter:alpha(opacity=0);margin: 0;}
	.sf-login a {border: 1px solid #f2f2f2;border-radius: 3px;display: inline-block;text-align: center;padding: 15px 0;height: 60px;width: 100px;}
	.sf-login a p {color: #666;margin-top: 10px;font: 14px/24px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";}
	.sf-login a:hover,.sf-login a:hover p {border-color: #e2e2e2;color: #16559F;text-decoration: none;}
	.wsTab {border-bottom: 1px solid #CCC;display: block;height: 32px;line-height: 32px;}
	.wsTab h5 {font: normal 14px/18px "Hiragino Sans GB","Microsoft YaHei","微锟斤拷锟脚猴拷";}
	.wsTab h5 a {color: #666666;display: inline-block;margin-top: 5px;padding: 0 20px;vertical-align: middle;}
	.wsTab h5 a.onClick {background: #FFFFFF;border: solid #ddd;border-width: 1px 1px 0;border-radius: 3px 3px 0 0;color: #333333;cursor: text;font-weight: bold;height: 31px;line-height: 31px;margin-top: 1px;text-align: center;}
	.wsTab h5 a:hover {text-decoration: none;}