<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrxorderMapper">

	<resultMap id="TrxorderResult" type="Trxorder">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="createTime" column="create_time" />
		<result property="payTime" column="pay_time" />
		<result property="orderAmount" column="order_amount" />
		<result property="couponAmount" column="coupon_amount" />
		<result property="amount" column="amount" />
		<result property="cashAmount" column="cash_amount" />
		<result property="vmAmount" column="vm_amount" />
		<result property="couponCodeId" column="couponCode_id" />
		<result property="requestId" column="request_id" />
		<result property="trxStatus" column="trx_status" />
		<result property="payType" column="pay_type" />
		<result property="reqChannel" column="req_channel" />
		<result property="description" column="description" />
		<result property="version" column="version" />
		<result property="reqIp" column="req_ip" />
	</resultMap>
	<resultMap type="TrxOrderDTO" id="ContractDetailed">
		<result property="requestId" column="requestId" />
		<result property="orderAmount" column="orderAmount" />
		<result property="couponAmount" column="couponAmount" />
		<result property="createTime" column="createTime" />
		<result property="payTime" column="payTime" />
		<result property="trxStatus" column="trxStatus" />
		<result property="payType" column="pay_type" />
		<result property="id" column="orderId" />
		<collection property="trxorderDetailList" ofType="TrxorderDetailDTO">
			<result column="currentPrice" property="currentPirce" />
			<result column="courseName" property="courseName" />
			<result column="courseId" property="courseId" />
			<result column="courseImgUrl" property="courseImgUrl" />
			<result column="courseTitle" property="courseTitle" />
			<result column="totalLessionNum" property="totalLessionNum" />
		</collection>
	</resultMap>
	<resultMap type="Course" id="TrxCourseResult">
		<result property="id" column="courseId" />
		<result property="name" column="name" />
		<result property="isavaliable" column="isavaliable" />
		<result property="addtime" column="addtime" />
		<result property="sourceprice" column="sourceprice" />
		<result property="currentprice" column="currentprice" />
		<result property="title" column="title" />
		<result property="lessionnum" column="lessionnum" />
		<result property="coursetag" column="coursetag" />
		<result property="logo" column="logo" />
		<result property="updateTime" column="update_time" />
		<result property="losetype" column="losetype" />
		<result property="loseAbsTime" column="lose_abs_time" />
		<result property="loseTime" column="lose_time" />
		<result property="updateuser" column="updateuser" />
		<result property="pageBuycount" column="page_buycount" />
		<result property="pageViewcount" column="page_viewcount" />
		<result property="freeurl" column="freeurl" />
		<result property="sellType" column="sell_type" />
	</resultMap>

	<sql id="edu_trxorder_columns">
		edu_trxorder.id,
		edu_trxorder.user_id,
		edu_trxorder.create_time,
		edu_trxorder.pay_time,
		edu_trxorder.order_amount,
		edu_trxorder.coupon_amount,
		edu_trxorder.amount,
		edu_trxorder.cash_amount,
		edu_trxorder.vm_amount,
		edu_trxorder.couponCode_id,
		edu_trxorder.request_id,
		edu_trxorder.trx_status,
		edu_trxorder.pay_type,
		edu_trxorder.req_channel,
		edu_trxorder.description,
		edu_trxorder.version,
		edu_trxorder.req_ip
	</sql>


	<sql id="edu_trxorder_properties">
		#{id},
		#{userId},
		#{createTime},
		#{payTime},
		#{orderAmount},
		#{couponAmount},
		#{amount},
		#{cashAmount},
		#{vmAmount},
		#{couponCodeId},
		#{requestId},
		#{trxStatus},
		#{payType},
		#{reqChannel},
		#{description},
		#{version},
		#{reqIp}
	</sql>

	<insert id="createTrxorder" parameterType="Trxorder" keyColumn="id"
		keyProperty="id" useGeneratedKeys="true">
		insert INTO edu_trxorder (
		<include refid="edu_trxorder_columns" />
		) VALUES (
		<include refid="edu_trxorder_properties" />
		)
	</insert>

	<delete id="deleteTrxorderById" parameterType="Long">
		delete from
		edu_trxorder
		where
		id = #{value}
	</delete>

	<update id="updateTrxorder" parameterType="Trxorder">
		update edu_trxorder
		SET
		pay_time = #{payTime},
		order_amount = #{orderAmount},
		coupon_amount =
		#{couponAmount},
		amount = #{amount},
		cash_amount = #{cashAmount},
		vm_amount = #{vmAmount},
		couponCode_id = #{couponCodeId},
		request_id =
		#{requestId},
		trx_status = #{trxStatus},
		pay_type = #{payType},
		req_channel = #{reqChannel},
		description = #{description},
		version =
		#{version},
		req_ip = #{reqIp}
		where
		id = #{id}
	</update>

	<select id="getTrxorderById" resultMap="TrxorderResult"
		parameterType="Long">
		select
		<include refid="edu_trxorder_columns" />
		from edu_trxorder
		where
		id = #{value}
	</select>

	<resultMap id="QueryTrxorderResult" type="QueryTrxorder"
		extends="TrxorderResult">
		<result property="userName" column="nickname" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="nickname" column="nickname" />
	</resultMap>
	<resultMap id="QueryTrxorderCodeResult" type="QueryTrxorder"
		extends="QueryTrxorderResult">
		<result property="couponCode" column="coupon_code" />
	</resultMap>
	<select id="getTrxorderList" resultMap="TrxorderResult"
		parameterType="Trxorder">
		select
		<include refid="edu_trxorder_columns" />
		from edu_trxorder
	</select>


	<!-- 根据requestId获取单个订单的信息 支付回调使用 -->
	<select id="getTrxorderByRequestId" resultMap="TrxorderResult"
		parameterType="string">
		select
		<include refid="edu_trxorder_columns" />
		from edu_trxorder
		where
		request_id = #{requestId}
	</select>

	<!-- 更新订单状态为成功，网银回调 -->
	<update id="updateTrxorderStatusSuccess" parameterType="Trxorder">
		update
		edu_trxorder
		set
		pay_time = #{payTime},
		cash_amount = #{cashAmount},
		vm_amount = #{vmAmount},
		trx_status = #{trxStatus},
		pay_type =
		#{payType},
		version =version+1

		where request_id = #{requestId}

	</update>

	<!-- 订单详情 -->
	<select id="getOrderInfoById" resultMap="QueryTrxorderCodeResult"
		parameterType="Long">
		select
		<include refid="edu_trxorder_columns" />
		,
		user_user.nickname,
		user_user.email,
		edu_coupon_code.coupon_code
		from
		edu_trxorder
		left join user_user on edu_trxorder.user_id=user_user.id
		left join edu_coupon_code on
		edu_trxorder.couponCode_id=edu_coupon_code.id
		where
		edu_trxorder.id=#{value}
	</select>

	<!-- 根据条件分页查询订单列表 -->
	<select id="queryOrderPageResult" resultMap="QueryTrxorderResult"
		parameterType="java.util.HashMap">
		select
		<include refid="edu_trxorder_columns" />
		,user_user.nickname,user_user.email,
		user_user.mobile,
		user_user.nickname
		from edu_trxorder
		left join
		user_user on edu_trxorder.user_id=user_user.id
		<where>
			<if test="e.email!=null and e.email!=''">
            <![CDATA[ user_user.email=#{e.email}]]>
			</if>
			<if test="e.requestId!=null and e.requestId!=''">
				and <![CDATA[ edu_trxorder.request_id=#{e.requestId}]]>
			</if>
			<if test="e.userId!=null and e.userId!=''">
				and  <![CDATA[ edu_trxorder.user_id=#{e.userId}]]>
			</if>
			<if test="e.trxStatus!=null and e.trxStatus!='ALL' and e.trxStatus!=''">
				and <![CDATA[ edu_trxorder.trx_status=#{e.trxStatus}]]>
			</if>
			<if test="e.payType!=null and e.payType!=''">
				and <![CDATA[ edu_trxorder.pay_type=#{e.payType}]]>
			</if>
			<if test="e.startCreateTime!=null">
				and <![CDATA[ edu_trxorder.create_time>=#{e.startCreateTime}]]>
			</if>
			<if test="e.endCreateTime!=null">
				and <![CDATA[ edu_trxorder.create_time<=#{e.endCreateTime}]]>
			</if>
			<if test="e.startPayTime!=null">
				and <![CDATA[ edu_trxorder.pay_time>=#{e.startPayTime}]]>
			</if>
			<if test="e.endPayTime!=null">
				and <![CDATA[ edu_trxorder.pay_time<=#{e.endPayTime}]]>
			</if>
			<if test="e.mobile!=null and e.mobile!='' ">
				and <![CDATA[ user_user.mobile=#{e.mobile}]]>
			</if>
			<if test="e.nickname!=null and e.nickname!='' ">
		    and	user_user.nickname like CONCAT('%',#{e.nickname},'%')
			</if>
		</where>
		order by edu_trxorder.create_time desc
		<include refid="publicMapper.pageEnd" />
	</select>

	<select id="queryOrderPageResultCount" resultType="int"
		parameterType="java.util.HashMap">
		select count(1)
		from edu_trxorder
		left join user_user on
		edu_trxorder.user_id=user_user.id
		<where>
		<if test="e.email!=null and e.email!=''">
            <![CDATA[ user_user.email=#{e.email}]]>
			</if>
			<if test="e.requestId!=null and e.requestId!=''">
				and <![CDATA[ edu_trxorder.request_id=#{e.requestId}]]>
			</if>
			<if test="e.userId!=null and e.userId!=''">
				and  <![CDATA[ edu_trxorder.user_id=#{e.userId}]]>
			</if>
			<if test="e.trxStatus!=null and e.trxStatus!='ALL' and e.trxStatus!=''">
				and <![CDATA[ edu_trxorder.trx_status=#{e.trxStatus}]]>
			</if>
			<if test="e.payType!=null and e.payType!=''">
				and <![CDATA[ edu_trxorder.pay_type=#{e.payType}]]>
			</if>
			<if test="e.startCreateTime!=null">
				and <![CDATA[ edu_trxorder.create_time>=#{e.startCreateTime}]]>
			</if>
			<if test="e.endCreateTime!=null">
				and <![CDATA[ edu_trxorder.create_time<=#{e.endCreateTime}]]>
			</if>
			<if test="e.startPayTime!=null">
				and <![CDATA[ edu_trxorder.pay_time>=#{e.startPayTime}]]>
			</if>
			<if test="e.endPayTime!=null">
				and <![CDATA[ edu_trxorder.pay_time<=#{e.endPayTime}]]>
			</if>
			<if test="e.mobile!=null and e.mobile!='' ">
				and <![CDATA[ user_user.mobile=#{e.mobile}]]>
			</if>
			<if test="e.nickname!=null and e.nickname!='' ">
		    and	user_user.nickname like CONCAT('%',#{e.nickname},'%')
			</if>
		</where>
	</select>
	<!-- 个人中订单信息 -->
	<select id="queryOrderForUc" resultMap="ContractDetailed" parameterType="java.util.HashMap">
		select
		edu_trxorder.request_id requestId,
		IFNULL(edu_trxorder.order_amount,0) as orderAmount,
		IFNULL(edu_course.currentPrice,0) as currentPrice,
		IFNULL(edu_course.total_lessionnum,0) as totalLessionNum,
		edu_trxorder.id as orderId,
		edu_trxorder.create_time as createTime,
		edu_trxorder.pay_time as payTime,
		edu_trxorder.trx_status as trxStatus,
		edu_trxorder.pay_type ,
		edu_trxorder.coupon_amount as couponAmount,
		edu_course.logo as courseImgUrl,
		edu_course.name as courseName,
		edu_course.id as courseId,
		edu_course.title as courseTitle,
		edu_trxorder_detail.current_price
		from edu_trxorder
		left join user_user on edu_trxorder.user_id=user_user.id
		left join edu_trxorder_detail on edu_trxorder.id = edu_trxorder_detail.trxorder_id
		left join edu_course on edu_course.id = edu_trxorder_detail.course_id
		<where>
			<if test="e.userId!=null and e.userId!=''">
				AND       <![CDATA[ edu_trxorder.user_id=#{e.userId}]]>
			</if>
			<if test="e.payType!=null and e.payType!=''">
				AND      <![CDATA[ edu_trxorder.trx_status=#{e.payType}]]>
			</if>
			<if test="e.id!=null and e.id!=''">
				AND      <![CDATA[ edu_trxorder.id=#{e.id}]]>
			</if>
			<if test="e.sellType!=null and e.sellType!=''">
				<if test="e.sellType=='NOLIVE'">
					AND edu_course.sell_type!='LIVE'
				</if>
				<if test="e.sellType!='NOLIVE'">
					AND edu_course.sell_type=#{e.sellType}
				</if>
			</if>
		</where>
		order by edu_trxorder.create_time desc
		<include refid="publicMapper.pageEnd" />
	</select>

	<select id="queryOrderForUcCount" resultType="int"
		parameterType="java.util.HashMap">
		select count(1)
		from edu_trxorder
		left join user_user on edu_trxorder.user_id=user_user.id
		left join edu_trxorder_detail on edu_trxorder.id = edu_trxorder_detail.trxorder_id
		left join edu_course on edu_course.id = edu_trxorder_detail.course_id
		<where>
			<if test="e.payType!=null and e.payType!=''">
				AND    <![CDATA[ edu_trxorder.trx_status=#{e.payType}]]>
			</if>
			<if test="e.userId!=null and e.userId!=''">
				AND      <![CDATA[ edu_trxorder.user_id=#{e.userId}]]>
			</if>

			<if test="e.id!=null and e.id!=''">
				AND      <![CDATA[ edu_trxorder.id=#{e.id}]]>
			</if>
			<if test="e.sellType!=null and e.sellType!=''">
				<if test="e.sellType=='NOLIVE'">
					AND edu_course.sell_type!='LIVE'
				</if>
				<if test="e.sellType!='NOLIVE'">
					AND edu_course.sell_type=#{e.sellType}
				</if>
			</if>
		</where>
	</select>
	<!-- 订单id查询流水的课程集合 -->
	<select id="getTrxCourseByRequestId" parameterType="String"
		resultMap="TrxCourseResult">
		SELECT
		edu_course.id as courseId,
		edu_course.name,
		edu_course.isavaliable,
		edu_course.addtime,
		edu_course.sourceprice,
		edu_course.currentprice,
		edu_course.title,
		edu_course.lessionnum,
		edu_course.coursetag,
		edu_course.logo,
		edu_course.update_time,
		edu_course.losetype,
		edu_course.lose_abs_time,
		edu_course.lose_time,
		edu_course.updateuser,
		edu_course.page_buycount,
		edu_course.page_viewcount,
		edu_course.freeurl,
		edu_course.sell_type
		from edu_course
		WHERE
		edu_course.id IN (SELECT trx.course_id from edu_trxorder_detail as trx
		WHERE trx.request_id=#{value})
	</select>
	<!-- 获得网站订单数和销售额 -->
	<select id="getOrderTotalAndSales" resultType="Map">
		SELECT COUNT(edu_trxorder.`id`) orderNum,
		SUM(amount) salesNum
		FROM
		edu_trxorder
		WHERE edu_trxorder.trx_status='SUCCESS' AND
		edu_trxorder.pay_type!='FREE' AND edu_trxorder.pay_type!='INTEGRAL'
	</select>
</mapper>