<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Dashboard | Remark Admin Template</title>

    <link rel="apple-touch-icon" href="${ctxPath}/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="${ctxPath}/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="${ctxPath}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="${ctxPath}/assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="${ctxPath}/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/waves/waves.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/slick-carousel/slick.css">

    <link rel="stylesheet" href="${ctxPath}/assets/vendor/chartist-js/chartist.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="${ctxPath}/assets/vendor/magnific-popup/magnific-popup.css">


    <link rel="stylesheet" href="${ctxPath}/assets/wangxiao/css/uikit/carousel.css">

    <link rel="stylesheet" href="${ctxPath}/assets/wangxiao/css/dashboard/v1.css">
    <link rel="stylesheet" href="${ctxPath}/assets/wangxiao/css/pages/gallery.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="${ctxPath}/assets/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="${ctxPath}/assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="${ctxPath}/assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="${ctxPath}/assets/vendor/media-match/media.match.min.js"></script>
    <script src="${ctxPath}/assets/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="${ctxPath}/assets/vendor/modernizr/modernizr.js"></script>
    <script src="${ctxPath}/assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>

<body class="site-navbar-small dashboard">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<% include("/templates/common/_site-navbar.html"){} %>
    ${layoutContent}

<% include("/templates/common/_footer.html"){} %>

<!-- Core  -->
<script src="${ctxPath}/assets/vendor/jquery/jquery.js"></script>
<script src="${ctxPath}/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="${ctxPath}/assets/vendor/animsition/animsition.js"></script>
<script src="${ctxPath}/assets/vendor/asscroll/jquery-asScroll.js"></script>
<script src="${ctxPath}/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="${ctxPath}/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
<script src="${ctxPath}/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="${ctxPath}/assets/vendor/waves/waves.js"></script>

<!-- Plugins -->
<script src="${ctxPath}/assets/vendor/switchery/switchery.min.js"></script>
<script src="${ctxPath}/assets/vendor/intro-js/intro.js"></script>
<script src="${ctxPath}/assets/vendor/screenfull/screenfull.js"></script>
<script src="${ctxPath}/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

<script src="${ctxPath}/assets/vendor/chartist-js/chartist.min.js"></script>
<script src="${ctxPath}/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
<script src="${ctxPath}/assets/vendor/jvectormap/jquery-jvectormap.min.js"></script>
<script src="${ctxPath}/assets/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="${ctxPath}/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="${ctxPath}/assets/vendor/peity/jquery.peity.min.js"></script>

<script src="${ctxPath}/assets/vendor/owl-carousel/owl.carousel.js"></script>
<script src="${ctxPath}/assets/vendor/slick-carousel/slick.js"></script>

<script src="${ctxPath}/assets/vendor/isotope/isotope.min.js"></script>
<script src="${ctxPath}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


<!-- Scripts -->
<script src="${ctxPath}/assets/js/core.js"></script>
<script src="${ctxPath}/assets/js/site.js"></script>

<script src="${ctxPath}/assets/js/sections/menu.js"></script>
<script src="${ctxPath}/assets/js/sections/menubar.js"></script>
<script src="${ctxPath}/assets/js/sections/sidebar.js"></script>

<script src="${ctxPath}/assets/js/configs/config-colors.js"></script>
<script src="${ctxPath}/assets/js/configs/config-tour.js"></script>

<script src="${ctxPath}/assets/js/components/asscrollable.js"></script>
<script src="${ctxPath}/assets/js/components/animsition.js"></script>
<script src="${ctxPath}/assets/js/components/slidepanel.js"></script>
<script src="${ctxPath}/assets/js/components/switchery.js"></script>
<script src="${ctxPath}/assets/js/components/tabs.js"></script>
<script src="${ctxPath}/assets/js/components/owl-carousel.js"></script>

<script src="${ctxPath}/assets/js/components/matchheight.js"></script>
<script src="${ctxPath}/assets/js/components/jvectormap.js"></script>
<script src="${ctxPath}/assets/js/components/peity.js"></script>

<script src="${ctxPath}/assets/js/components/filterable.js"></script>


<script src="${ctxPath}/assets/js/wangxiao.js"></script>
<!--<script src="${ctxPath}/assets/wangxiao/js/uikit/carousel.js"></script>-->
<!--<script src="${ctxPath}/assets/wangxiao/js/dashboard/v1.js"></script>-->
<!--<script src="${ctxPath}/assets/wangxiao/js/pages/gallery.js"></script>-->


</body>

</html>