<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserLevelMapper">

        <resultMap id="UserLevelResult" type="UserLevel">
            <result property="id" column="id"/>
            <result property="level" column="level"/>
            <result property="title" column="title"/>
            <result property="exp" column="exp"/>
        </resultMap>

        <sql id="edu_user_level_columns">
            edu_user_level.id,
            edu_user_level.level,
            edu_user_level.title,
            edu_user_level.exp
        </sql>

        <sql id="edu_user_level_properties">
            #{id},
            #{level},
            #{title},
            #{exp}
        </sql>

        <insert id="createUserLevel" parameterType="UserLevel" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
            insert INTO edu_user_level (<include refid="edu_user_level_columns"/>) VALUES (<include refid="edu_user_level_properties"/>)
        </insert>

        <delete id="deleteUserLevelById" parameterType="Long">
            delete from edu_user_level
            where
                id = #{value}
        </delete>

        <update id="updateUserLevel" parameterType="UserLevel">
            update edu_user_level SET
                title = #{title},
                exp = #{exp}
            where
                id = #{id}
        </update>

        <select id="getUserLevelById" resultMap="UserLevelResult" parameterType="Long">
            select
            <include refid="edu_user_level_columns"/>
            from edu_user_level
            where
                id = #{value}
        </select>
		
        <select id="getUserLevelList" resultMap="UserLevelResult" parameterType="UserLevel">
            select
            <include refid="edu_user_level_columns"/>
            from edu_user_level
        </select>
</mapper>