	/*---======== /commonStyle ========---*/
	a{text-decoration:none;color: #555;}
	a:hover{text-decoration:underline;color: #2DA2A7;}a:focus{outline:none;-moz-outline:none;}
	a:active{outline:none;blr:expression(this.onFocus=this.blur())}
	a,img{border:0 none;}
	.welcomWrap {padding-left: 5em;}
	.welcomWrap a {height: 208px;width: 480px;cursor: default;}
	.page_head {height: 30px;line-height: 30px;padding: 10px 15px;overflow: hidden;}
	.page_head h4 {color: #333;font: 17px/30px 'Microsoft YaHei';text-shadow: 1px 1px 1px #FFF;}
	.commonTab01 caption {border-bottom: 1px solid #C1C1C1;padding: 10px 0;text-align: left;}
	.commonTab01 caption span font {color: #333;font: 14px/24px 'Microsoft YaHei';}
	.commonTab01 thead {border: 1px solid #DDD;border-top: none;border-bottom: none;}
    .commonTab01 thead th {border: 1px solid #ddd;border-top: none;}
	.commonTab01 thead th span {/*border: 1px solid;border-color: #FDFDFD #FFFFFF transparent #DDDDDD;*/color: #282828;display: block;min-height: 20px;font: 14px/20px 'Microsoft YaHei';padding: 8px 14px;}
	.commonTab01 tbody td {background: #fff;border: 1px solid #DDD;color: #454545;padding: 10px 14px;}
	.pageDesc span {color: #666;font: 12px/24px 'Microsoft YaHei';padding-left: 1em;}
	.capHead {background: #FFF;border: 1px solid #DDD;margin: 10px 0px;padding: 20px;}
	.czBtn a {color: #545454;font-family: 'Microsoft YaHei'}
	.czBtn a:hover {color: #E55752;cursor: pointer;text-decoration: none;}
	.czBtn a em {margin-right: 5px;}
	#tabS_02 tr.hover td {background: #F9F9F9;}
	.tips {background: #F2F2F2;border: 1px solid #E2E2E2;margin: 1em auto;width: 50%;text-align: center;padding: 15px 0;}
	.tips span {color: #666;display: inline-block;+display: inline;font: 14px/30px 'Arial';padding: 5px 0 5px 40px;}
	.ddBar li {padding: 10px 0 10px 4em;}
	.ddTitle {display: inline-block;width: 120px;text-align: right;}
	.optionList {float: left;margin: 10px 0 10px 3em;}

	.testWrap {padding: 20px;}
	.testPagerTitle h5 {background: #e2e2e2;color: #333;padding: 5px 20px;font: 14px/28px 'Microsoft YaHei'}
	.testWrapList {border-bottom: 1px dotted #D2D2D2;}
	.testWrapList li {overflow: hidden;padding-top: 10px;border-top: 1px dotted #D2D2D2;}
	.cl-txt {border: 1px solid #ccc;margin: 10px;padding: 10px;line-height: 200%;color: #333;text-indent: 24px;}
	.c_111 {color: #333;}
	.c_777 {color: #777;}
/*---======== /dialogStyle ========---*/
	.fade.in {
		opacity: 0;
		transition: opacity 0.2s linear 0s;
	}
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1040;
	  background-color: #000000;
	}

	.modal-backdrop.fade {
	  opacity: 0;
	}

	.modal-backdrop,
	.modal-backdrop.fade.in {
	  opacity: 0.8;
	  filter: alpha(opacity=80);
	}
	.modal {
	  position: fixed;
	  top: 10%;
	  left: 50%;
	  z-index: 1050;
	  width: 560px;
	  margin-left: -280px;
	  background-color: #ffffff;
	  border: 1px solid #999;
	  border: 1px solid rgba(0, 0, 0, 0.3);
	  *border: 1px solid #999;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	  outline: none;
	  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	  -webkit-background-clip: padding-box;
	     -moz-background-clip: padding-box;
	          background-clip: padding-box;
	}
	.modal.fade {
		top: -400px;
	  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
	     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
	       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
	          transition: opacity 0.3s linear, top 0.3s ease-out;
	}
	.modal.fade.in {
	  top: 10%;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	.modal_head {
		overflow: hidden;
		border-bottom: 1px solid #EEE;
		padding: 9px 15px;
	}
	.modal_head h4 {
		height: 30px;
		font: bold 15px/30px 'Microsoft YaHei';
		color: #333;
	}
	.modal_body {
		padding: 9px 15px;
		overflow-y: auto;
		max-height: 240px;
		position: relative;
	}
	.modal_foot {
		background: #F5F5F5;
		border-radius: 0 0 6px 6px;
		border-top: 1px solid #DDD;
		padding: 14px 15px 15px;
		text-align: right;
	}