<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebsiteProfileMapper">

	<resultMap id="WebsiteProfileResult" type="WebsiteProfile">
		<result property="id" column="id" />
		<result property="type" column="type" />
		<result property="desciption" column="desciption" />
		<result property="explain" column="explain" />
	</resultMap>

	<sql id="edu_website_profile_columns">
		edu_website_profile.id,
		edu_website_profile.type,
		edu_website_profile.desciption,
		edu_website_profile.explain
	</sql>

	<sql id="edu_website_profile_properties">
		#{id},
		#{type},
		#{desciption},
		#{explain}
	</sql>
	<!-- 查询所有配置 -->
	<select id="getWebsiteProfileList" resultMap="WebsiteProfileResult">
		select
		<include refid="edu_website_profile_columns" />
		from edu_website_profile
	</select>

	<update id="updateWebsiteProfile" parameterType="WebsiteProfile">
		update edu_website_profile SET
		desciption = #{desciption}
		where
		type = #{type}
	</update>
	<!-- 根据类型获得 配置-->
	<select id="getWebsiteProfileByType" resultMap="WebsiteProfileResult" parameterType="java.lang.String">
		select
		<include refid="edu_website_profile_columns" />
		from edu_website_profile
		where
		edu_website_profile.type = #{value}
	</select>
</mapper>